html,
body,
.App,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
    font-family: sans-serif;
    text-align: center;

}

.wheel {
//   margin: 10px auto;
}

.circle-bg {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
}

.percentage {
  font-size: 0.5em;
  text-anchor: middle;
}

h2 {
  margin-bottom: 0;
}

.blob-gradient {
  fill: url(#radial-gradient) rgb(255, 255, 255);
}

svg {
  position: fixed;
  top: 0;
//   bottom: 0;
  left: 0;
//   right: 0;
  height: 100%;
  width: 100%;
}
