/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

html { 

}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffff;
  background: #101010 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}

.twinkling {
  position: absolute;
  z-index: -1;
	width: 100%;
	height: 100%;
	background: transparent url(./assets/twinkling.png) repeat;
	background-size: 50%;
	animation: scroll-anim 45s linear infinite;
}

@keyframes scroll-anim {
	100% {
		background-position: -100% 0;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.st-logo {
  width: 50px;
  margin-right: 15px;
  cursor: pointer;
}

.navbar {
  background: none;
  box-shadow: none;
}

.welcome {
  color: #ffff;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-outer {
  width: 400px;
  height: 300px;
  background-color: #242426;
  /* background-color: #28272c; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
  border-radius: 10px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  /* background-color: mediumturquoise; */
}

.card-img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  background: linear-gradient(#5a5861, #242424);
  /* background: linear-gradient(#333236, #28272c); */
}

.main {
  height: 100%;
}

.main-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main-container .row {
  /* border: 1px dotted red; */
}

.main-container .row.header {
  flex: 0 1 auto;
}

.main-container .row.content {
  flex: 1 1 auto;
  /* margin-top: -10%; */
}

.my-graph {
  background-color: lightsteelblue;
  height: 400px;
}

.title-text {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  /* background-color: mediumvioletred; */
}



